# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
*/.DS_Store

*.tif
*.pth
*.png



# C extensions
*.so

# Distribution / packaging
.Python
.neptune/
.idea/
dataset/
forpaper/
postprocessing/
logs/

outputs/results/
outputs/wnwp3d/
outputs/XXX/
result/
Untitled/
notinuse/
submodels/
models/old/
